@font-face {
  
    font-family:'Shrikhand';
    src: url('Shrikhand-Regular.ttf');

  }

  @font-face{
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf'); 
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.ttf');
    font-family:'Titre';
    src: url('Roboto-Bold.ttf');
  }
body
{
    display: flex;
flex-direction: column;
margin: 0;
}

.header__title
{
    height: 44px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 6px;
    padding: 12px;
}
  .header__town
  {
    
    background-color: #eaeaea;
    height: 60px;
    text-align: center;
    font-size: larger;
    font-family: 'Titre';
  }  
  .header__town-block
  {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    margin-left: 19%;
    margin-right: 25%;
  }
  .fa-map-marker-alt
  {
      font-size: large;
  }
  .header-quote-thin
  {
    font-family: "Roboto-Thin";
    font-size: 22px;
    text-align: center;
    width: 95%;
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 38px;
    color: #818181;
    margin-right: 5%;
  }
  .restaurant-location__byline
  {
      
      margin-top: 5px;
  }
  .process__title,   .header-quote-bold, .restaurant-name__heading, .restaurant_title
  {
     font-family: 'Titre';
  }
  .header__lowblock
  {
background-color: #f6f6f6;
  }
  .header__quote
  {
    height: 342px;
  }
  .header-quote-bold
  {
    font-size: 28px;
    text-align: center;
    margin-left: 15%;
    width: 75%;
    margin-right: 15%;
    padding-top: 44px;
  }
.header__button
{
   
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 25px;
    color: white;
    padding: 14px;
    border: white;
    width: 50%;
    height: 52px;
    margin-left: 22%;
    margin-right: 22%;
    font-size: large;
    text-align: center;
    height: auto;
    
}
.process
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
}
.process__title
{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 27px;
    margin-bottom: 15px;
}
.process__choice
{
    display: flex;
    border: solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.process__button

{
    display: flex;
    height: 60px;
}
.process__choice:hover {
	background-color: #f5edff;
}
.order__process
{

        font-size: larger;
        align-self: center;
        margin-left: 34px;
}
.number{
    background-color: #9356dc;
    height: fit-content;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: white;
    align-self: center;
    margin-left: -14px;
}

.fa-mobile-alt, .fa-list-ul, .fa-store
{
    align-self: center;
    font-size: larger;
    margin-left: 20px;

}
button
{
    border-radius: 23px;
    width: 90%;
    background-color:  #f6f6f6;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
    height: 84px;
}
.Label-new
{
   
    top: 40px;
    left: 202px;
    background-color: #99E2D0;
    border-color: none;
    padding: 2%;
    color: #259c80;
    width: 15%;
    font-family: 'Titre';
    border-radius: 5px;
    font-size: x-large;
}
.restaurant_sticker
{
   
    border-radius: 20px;
    background-color: white;
    height: 15%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5% 5%;
}

  .restaurant-image__picture
  {
    width: 100%;
    border-radius: 17px 17px 0px 0px;
    height: 70%;
  }

  .restaurant
  {
      background-color: #f6f6f6;
     
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    

  }
  .restaurant_title
  {
   
    margin-left: 5%;
    font-size: 23px;
    margin-top: 50px
  }
.restaurant-name__heading
{
    font-size: larger;
}
  .legend
  {
    display: flex;
    justify-content: space-between;
    height: 63px;
    margin-right: 8%;
    margin-left: 5%;
    margin-top: 20px;
  }

  .like
  {
    font-size: 30px;
  }
  footer
  {
      background-color: #353535;
      color: white;
      height: 190px;
  }
  .footer__title
  {
    font-family: Shrikhand;
        margin-top: 22px;
        margin-bottom: 15px;
  }

  .footer__link, .footer__link--active
  {
    margin-bottom: 8px;
  }
  .footer__title, .footer__link, .footer__link--active

  {
      margin-left: 5%;
  }
 .fa-hands-helping
  {
margin-right: 8px;
font-size: 12px;
  }
  .fa-utensils
  {
      margin-right: 11px;
      font-size: 15px;
  }
